---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import { YouTube } from '@astro-community/astro-embed-youtube';
---

<Layout title="About | naoki">
  <h1 class="font-sans text-4xl font-bold text-darkblue">About</h1>
  <p class="mt-4 font-sans leading-relaxed text-darkblue">
    日本の徳島で生まれ、徳島育ちの20歳です。 <br
    />中学高校と、吹奏楽部でトロンボーンを吹いていました。<br
    />現在は、埼玉の富士見市へ上京して東京の高田馬場にある、東京テクノロジーセンター専門学校でWeb開発とデザインを勉強しています。
  </p>
  <h2 class="mt-12 font-sans text-xl font-bold text-darkblue">Hobby</h2>
  <p class="mt-4 font-sans leading-relaxed text-darkblue">
    ご飯を食べることが好きで、食べたものはよくInstagramに投稿しています。
  </p>
  <div class="my-8 grid grid-cols-4 gap-x-[2%]">
    <Image
      src="/assets/about/about_1.png"
      alt="食べ物写真1"
      width="172"
      height="172"
      class="rounded-lg"
    />
    <Image
      src="/assets/about/about_2.png"
      alt="食べ物写真2"
      width="172"
      height="172"
      class="rounded-lg"
    />
    <Image
      src="/assets/about/about_3.png"
      alt="食べ物写真3"
      width="172"
      height="172"
      class="rounded-lg"
    />
    <Image
      src="/assets/about/about_4.png"
      alt="食べ物写真4"
      width="172"
      height="172"
      class="rounded-lg"
    />
  </div>
  <p class="mt-4 font-sans leading-relaxed text-darkblue">
    写真撮るのが好きなのですが、実際にしっかりとしたカメラを持っているわけではないので、メタバースで撮影しています。
  </p>
  <div class="my-8">
    <Image
      src="/assets/about/vrchat.png"
      alt="vrchat"
      width="732"
      height="373"
      class="rounded-lg"
    />
  </div>
  <p class="mt-16 font-sans leading-relaxed text-darkblue">
    Mrs.GREEN APPLEというバンドを高2の頃から聴いていて、ずっと好きなアーティストです。<br
    />「一番好きな曲は何か」と問われると迷いますが、「CHEERS」ですね。<br
    />この楽曲は自己解釈ですが、「緊張や不安をも楽しみに変えていこうよ！」と背中を押してくれるような明るい楽曲でとても好きです。
  </p>
  <div class="my-8">
    <YouTube id="ukwo2O5SRvw" />
  </div>
  <h2 class="mt-16 font-sans text-xl font-bold text-darkblue">Contact</h2>
  <div class="flex flex-row">
    <p class="mt-4 font-sans leading-relaxed text-darkblue">連絡先はこちらまで</p>
    <a
      href="https://twitter.com/nka21dev"
      class="mt-4 pl-1 font-sans leading-relaxed text-darkblue underline">Twitter</a
    >
  </div>
</Layout>
