---
import Layout from '../layouts/Layout.astro';
---

<Layout title="naoki`s website">
    <!-- AboutComponent -->
    <div class="">
        <img src="./assets/profile_icon.png" alt="プロフィール画像" width={157} height={157} />
    </div>
</Layout>
